//文字樣式 補足bootstrap的不足!
$baseFontSize : 18px;

@for $i from 0 through 5 {
    .word-#{$i}{
        font-size: $baseFontSize + $i * 2;
    }
}

figure.image img{
    display: block;
    width: 100%;
    height: auto;
}
