.word-0 {
  font-size: 18px;
}

.word-1 {
  font-size: 20px;
}

.word-2 {
  font-size: 22px;
}

.word-3 {
  font-size: 24px;
}

.word-4 {
  font-size: 26px;
}

.word-5 {
  font-size: 28px;
}

figure.image img {
  display: block;
  width: 100%;
  height: auto;
}

